/*ESTILO DEL TABLERO*/
body{
    font-family: 'Poppins', sans-serif;  
}

/*NAV (BARRA DE MENÚ)*/
.navbar-brand{
    font-weight: bold;
}


/*SECCIÓN DEL LOGIN*/
.login{
    /*Centrar los elementos que contiene el div del login*/
    display: flex;
    align-items: center;
    
    /*Alineando los elementos sobre la pantalla */
    padding-top: 120px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .btn-login{
    background-color: #E37E1E;
    border: none;
  }
  
  .btn-login:hover {
    background-color: black; /* Green */
    color: white;
  }